<!doctype html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>

	<head th:replace="fragments/head :: head">
		<title>Editar Usuarios</title>
	</head>

<body>
	<header th:replace="fragments/header :: header"></header>
	<div style="height: 15px"></div>

	<div class="container">
		<div class="row bg-light rounded shadow-sm justify-content-center">
			<div class="col-sm-8 align-self-center">
				<div>
					<h1 class="display-4 text-center" style="font-family: 'Bree Serif';">Editar Usuario</h1>
					<hr class="bg-info">
					<p class="text-center" style="font-family: 'Bree Serif';">Actualice
						los campos necesarios:</p>
				</div>
				<form action="#" th:action="@{/usuarios/editar_usuario/{id}(id=${usuarioDTO.usuario.id})}"
					th:object="${usuarioDTO}" method="post">
					<!-- Campos de Usuario -->
					<div class="row align-self-center" style="margin-bottom: 2%">
						<!--PERSONA-->
						<div class="col-md-6">
							<div class="form-group">
								<label>Identificación</label>
								<input readonly class="form-control" type="text" id="identificacion"
									th:field="*{persona.identificacion}">
							</div>
							<div class="form-group">
								<label>Nombres <small class="text-secondary">(requerido)</small></label>
								<input name="nombres" required type="text" style="text-transform: uppercase;"
									class="form-control" placeholder="CARLOS..." th:field="*{persona.nombres}"
									oninput="validarNomAp(event)">
							</div>
							<div class="form-group">
								<label>Apellidos <small class="text-secondary">(requerido)</small></label>
								<input name="apellidos" required type="text" style="text-transform: uppercase;"
									class="form-control" placeholder="TORRES..." th:field="*{persona.apellidos}"
									oninput="validarNomAp(event)">
							</div>
							<div class="form-group">
								<label>Ciudad Residencia <small class="text-secondary">(requerido)</small></label>
								<input name="persona.ciudad_residencia" required type="text"
									style="text-transform: uppercase;" class="form-control" placeholder="LOJA ..."
									th:field="*{persona.ciudad_residencia}">
							</div>

							<div class="form-group">
								<label>Dirección <small class="text-secondary">(requerido)</small></label>
								<input name="direccion" required type="text" style="text-transform: uppercase;"
									class="form-control" placeholder="ROCAFUERTE Y ..." th:field="*{persona.direccion}">
							</div>

							<div class="form-group">
								<label>Correo <small class="text-secondary">(requerido)</small></label>
								<input name="correo" required type="email" style="text-transform: lowercase;"
									class="form-control" placeholder="ctorres@gmail.com" th:field="*{persona.correo}">
							</div>

						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label>Fecha de nacimiento <small class="text-secondary">(requerido)</small></label>
								<input name="fecha_nacimiento" required type="date" class="form-control"
									th:field="*{persona.fecha_nacimiento}">
							</div>
							<div class="form-group">
								<label>Género <small class="text-secondary">(requerido)</small></label>
								<br>
								<div>
									<select class="form-control" id="genero" name="genero" th:field="*{persona.genero}"
										style="text-transform: uppercase;" required>
										<option value="">Seleccione un género</option>
										<option value="MASCULINO">Masculino</option>
										<option value="FEMENINO">Femenino</option>
										<option value="OTRO">Otro</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label>Teléfono<small class="text-secondary">(requerido)</small></label>
								<input name="telefono" required type="tel" pattern="\d*" inputmode="numeric"
									maxlength="10" class="form-control" th:field="*{persona.telefono}"
									placeholder="0987654321">
							</div>

							<!--USUARIO-->
							<div class="form-group">
								<label>Usuario</label>
								<input readonly class="form-control" type="text" id="username"
									th:field="*{usuario.username}" />
							</div>
							<div class="form-group">
								<label>Contraseña</label>
								<input class="form-control" type="password" id="password" th:field="*{usuario.password}"
									placeholder="j41m1t0.." />
							</div>
							<div class="form-group" id="consultoriogroup" th:if="${mostrarConsultorio}">
								<label>Consultorio<small class="text-secondary">(requerido)</small></label>
								<div>
									<select class="form-control" required id="consultorioid"
										th:field="*{consultorioMedico.consultorio.id}">
										<option value="0">SELECCIONE UN CONSULTORIO</option>
										<option th:each="consultorio : ${consultorios}" th:value="${consultorio.id}"
											th:text="${consultorio.nombre}">
										</option>
									</select>
									<div id="consultorioError" class="text-danger"></div>
								</div>
							</div>
							<div class="form-group" id="especialidadgroup" th:if="${mostrarConsultorio}">
								<label>Especialidad<small class="text-secondary">(requerido)</small></label>
								<div>
									<select class="form-control" required id="especialidadid"
										th:field="*{medicoEspecialidad.especialidad.id}">
										<option value="0">SELECCIONE UNA ESPECIALIDAD</option>
										<option th:each="especialidad : ${especialidades}" th:value="${especialidad.id}"
											th:text="${especialidad.nombre}">
										</option>
									</select>
									<div id="especialidadError" class="text-danger"></div>
								</div>
							</div>

						</div>

						<div class="col-lg-6 align-self-center" style="margin: auto">
							<button class="btn btn-info col-sm-12" type="submit" id="submitBtn">
								<i class="fa fa-check"></i> Guardar
							</button>
						</div>

						<!-- Campos de UsuarioRol -->
						<!--<div class="form-group">
					        <label for="rol">Rol</label>
					        <select id="rol" th:field="*{userRol.rol.id}" class="form-control" required>
					            <option value="" disabled selected>Seleccione un rol</option>
					            <option th:each="rol : ${roles}" th:value="${rol.id}" th:text="${rol.nombre}"></option>
					        </select>
					    </div>-->

					</div>
				</form>
			</div>
		</div>
	</div>
	<div style="height: 20px;"></div>
	<footer th:replace="fragments/footer :: footer"> </footer>
	<script>
		$(document).ready(function () {
			$('#submitBtn').click(function (event) {
				var valid = true;

				var consultorio = $('#consultorioid').val();
				var especialidad = $('#especialidadid').val();

				if (consultorio == 0) {
					$('#consultorioError').text('Debe seleccionar un consultorio válido.');
					valid = false;
				} else {
					$('#consultorioError').text('');
				}

				if (especialidad == 0) {
					$('#especialidadError').text('Debe seleccionar una especialidad válida.');
					valid = false;
				} else {
					$('#especialidadError').text('');
				}

				if (!valid) {
					event.preventDefault();
				}
			});
		});
	</script>

</body>

</html>