<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">
<title>Gestión Usuarios</title>
</head>

<body>
	<header th:replace="fragments/header :: header"></header>
	<div style="height: 25px"></div>
	<div class="container">
		<h1 class="display-4 text-center" style="font-family: 'Bree Serif'">Gestión
			Usuarios</h1>
		<hr class="bg-info">
		<p class="text-center" style="font-family: 'Bree Serif';">Elija
			una opción:</p>
		<div class="row bg-light rounded shadow-sm">
			<div class="col-lg-8 rounded"
				style="position: relative; padding-top: 2%; margin-bottom: 2%; margin-left: 33%">
				<div class="row" style="margin-top: 3%; margin-bottom: 3%;">
					<a href="/usuarios/crear_usuario" class="btn btn-info btn-lg shadow"
						title="Registrar Usuarios" style="width: 50%;"><i
						class="fa fa-user-plus"></i> | Registrar Usuarios </a>
				</div>
				<div class="row" style="margin-top: 2%; margin-bottom: 3%;">
					<a href="/usuarios/listar_usuarios" class="btn btn-info btn-lg shadow"
						title="Listar Usuarios" style="width: 50%;"><i
						class="fa fa-list-alt"></i> | Listar Usuarios </a>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="fragments/footer :: footer"> </footer>
</body>

</html>
